
@{
    ViewBag.Title = "Index";
}

<h2>Indice</h2>
	<ul>
		<li>
			<h4><a href="/Concesionaria/Listar">Listado de Vehículos</a></h4>
		</li>
		<li>
			<h4><a href="/Concesionaria/Agregar">Agregar Vehículo</a></h4>
		</li>
		<li>
			<h4><a href="/Concesionaria/ListarOfertas">Listado de Ofertas Disponibles</a></h4>
		</li>
		<li>
			<h4><a href="/Concesionaria/AutoUsado">Auto Usado con Menor Kilometraje</a></h4>
		</li>

	</ul>