@model ABMPersonas.Models.Persona

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
	<p>Nombre:</p> <br>
	@Html.TextBoxFor(p => p.Nombre)
	<p>Apellido:</p> <br>
	@Html.TextBoxFor(p => p.Apellido)
	<p>Edad:</p> <br>
	@Html.TextBoxFor(p => p.Edad)

	<input type="submit" value="Modificar">
}
